
@{
    ViewData["Title"] = "ListadoNotasVacio";
}

<section id="notas" class="mt-5">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <h1 class="display-4">Hola!</h1>
                <p class="lead">Parece que todav&iacute;a no has creado ninguna nota.  ¿Porque no creas una ahora?</p>        
        
                <a asp-action="Nueva" class="btn btn-primary btn-lg" role="button">Crear nueva nota!</a>
            </div>
        </div>
    </div>
</section>

